#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -180px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 0px; /* 15px padding */
  text-align: center;
  font-weight: bold;
  width: 230px;
  height: 70px; /* Set a specific width */
  font-size: 15px; /* Increase font size */
  color: white; /* White text color */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #04AA6D;
  border: none;
  color: black;
}
#blog {
  top: 100px;
  background-color: #2196F3; /* Blue */
}
#projects {
  top: 180px;
  background-color: #f44336; /* Red */
}
#travel {
  top: 260px;
  background-color: rgba(80, 35, 163, 0.719);
  font-size: x-small;
}
#contact {
  top: 340px;
  background-color: #555 /* Light Black */
}
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100uh;
    width: 100uh;
    background-image: url(bg.jpg);
    background-size:cover;
    font-family: cursive;
}
input{
    display: block;
    font-size: 20px;
    width: 410px;
    background: transparent;
    border-color: whitesmoke;
    color: whitesmoke;
    text-align: left;
}
span{
    margin-top: 100px;
    display: block;
    font-size: 35px;
    margin-left: 50px;
    font-weight: bold;
    color: rgb(193, 206, 14);
  }
h2{
  font-size: 15px;
  color: whitesmoke;
  text-align: left;
}
label{
  margin-top: -10px;
    display: block;
    margin-left: 30px;
    text-align: center;
}
button{
  background-color:transparent;
  border-color: transparent;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  font-family: cursive;
  color:whitesmoke;             
}
.but1{
  width: 10%;
    padding: 15px;
    background-color: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    border-radius:30px;
    margin-top: 10px;
    align-items: center;
    margin-left: -40px;
    position: absolute;
}
button:hover{
    color: coral;
}